
body {
  margin: 0;
}

.header-component {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
  height: 70px;
}

.troll {
  height: 100%;
  margin-right: 100px;

}

.header-title {
  margin-right: auto;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.project {
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.meme-form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding: 20px;

}

.meme-button {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  border: none;
  border-radius: 5px;
  grid-column: 1 / -1;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.meme {
  display: flex;
  justify-content: center;
  
}

.meme-image {
  border-radius: 3px;
}

.contain {
  position: relative;
}

.meme-text {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: rgb(236, 154, 32);
  letter-spacing: 1px;
  text-shadow: 50px;
}

.bottom {
  bottom: 0;
}
